.items{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;
    justify-self: end;
}

.cartList{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cartList > .item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

.cart{
    padding-top: 6rem !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    gap: 1rem;
}

.cartList > .item > .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.cartList > .item > img{
    width: 10rem;
}

.controls > button{
    padding: .5rem 1rem;
    font-weight: bolder;
    color: white;
    background-color: black;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}

.controls > button:hover{
    color: black;
    background-color: white;
}

.controls{
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls > span{
    font-size: 1.3rem;
}

.remove-btn{
    padding: .5rem 1rem;
    background-color: red;
    color: white;
    border: 3px solid red;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    transition: .4s;
}

.remove-btn:hover{
    background-color: white;
    color: red;
}


.order-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.order-summery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-info > p{
    font-weight: bolder;
    font-size: 1.5rem;
}

.order-info > table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
    font-family: sans-serif;
    font-size: large;
}

.order-info > button{
    padding: .5rem;
    margin: 1rem;
    background-color: green;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    border: 3px solid green;
    transition: .4s;
    cursor: pointer;
}

.order-info > button:hover{
    background-color: white;
    color: green;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
  }
  
  .popup-inner{
    position: relative;
    padding: 1rem 4rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', cursive;
    font-size: 1rem;
    text-align: center;
    border: 3px solid white;
    color: black;
    border-radius: 1rem;
  }
  
  .popup-inner > img{
    width: 150px;
    border-radius: 50%;
  }
  
  .popup-inner > p{
    margin-top: 2rem;
    font-family: monospace;
    font-size: 2rem;
  }
  
  .popup-inner > button{
    padding: .4rem .5rem;
    margin: 1rem;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: green;
    border: 3px solid green;
    border-radius: 5px;
    color: white;
    transition: .4s;
  }

  .popup-inner > button:hover{
    background-color: white;
    color: green;
  }

  .popup-inner > h2{
    font-size: 2rem;
  }

