

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 8rem;
    flex-wrap:nowrap ;
    gap: 30px;
    flex: 1;
    padding-top: 6rem !important;
    min-height: 40vh;
}

.left, .right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3rem;
    flex: 1;
}

.right{
    flex: 1;
}

.right > img{
    max-width: 400px;
    border-radius: 50px;
}

.sub{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;

}

.caption{
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
}

.left > div{
    width: 100%;
    margin: 1rem;
}

.left > div > a > button{
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    cursor: pointer;
    transition-duration: 0.4s;
}
.left > div > a > button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}


